{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <div class="content-wrapper">

        <!-- begin::navigation -->
     
        <!-- end::navigation -->

        <div class="content-body">

            <div class="content" style="padding-left: 50px">
     
        <!-- <div class="col-md-9 app-content"> -->
            <!-- <div class="app-content-overlay"></div> -->
            <div class="row no-gutters chat-block">

        <!-- begin::chat sidebar -->
        <div class="col-lg-4 chat-sidebar border-right">

            <!-- begin::chat sidebar search -->
            <div class="chat-sidebar-header">
                <div class="d-flex">
                    <div class="pr-3">
                        <div class="avatar">
                            <img src="{{user.profile.image.url}}" class="rounded-circle"
                                 alt="image">
                        </div>
                    </div>
                    <div>
                        <p class="mb-0">
                            
                            {% if user.profile.full_name %}
                            {{user.profile.full_name|title}}
                            {% else %}
                            {{ user.username|title }}
                            {% endif %}
                        
                        </p>
                        <p class="m-0 small text-muted">{{user.profile.user.username}}</p>
                    </div>
                    <div class="ml-auto">
                        <div class="dropdown">
                            <a href="#" data-toggle="dropdown">
                                <i class="width-18 height-18" data-toggle="tooltip" title="Settings"
                                   data-feather="settings"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Chat search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-light" type="button">
                                <i class="ti-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                           role="tab" aria-controls="pills-home" aria-selected="true">Chats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                           role="tab" aria-controls="pills-profile" aria-selected="false">Users</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                           role="tab" aria-controls="pills-contact" aria-selected="false">Contacts</a>
                    </li> -->
                </ul>
            </div>
            <!-- begin::chat sidebar search -->

            <!-- end::chat list -->
            <div class="chat-sidebar-content">
                <div class="tab-content pt-3" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <div class="chat-lists">
                            <div class="list-group list-group-flush">
                                {% for message in messages %}

                                <a href="{% url 'chats:directs' message.user.username %}"
                                   class="list-group-item d-flex align-items-center">
                                    <div class="{% if active_direct == message.user.username %}active{% endif %} pr-3">

                                        <div class="{% if active_direct == message.user.username %} avatar-state-success {% endif %} avatar">
    
                                            <img class="rounded-circle" src="{{message.user.profile.image.url}}" alt="{{ message.user.username}}" />
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-1">@{{ message.user.username }}</h6>
                                        {% if message.user.profile.full_name %}
                                        <span class="small text-muted">{{message.user.profile.full_name|title}}</span>
                                            
                                        {% else %}
                                        <span class="small text-muted">{{ message.user.username|title }}</span>
                                        {% endif %}
                                        
                                    </div>
                                    <div class="text-right ml-auto">
                                        <span class="badge badge-primary badge-pill ml-auto">1</span>
                                        <span class="small text-muted">2:32 PM</span>
                                    </div>
                                </a>
                            {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                         aria-labelledby="pills-profile-tab">
                        <div class="list-group list-group-flush">

                          

                            {% for a in all_users %}

                            <a href="{% url 'chats:directs' a.username %}" class="list-group-item d-flex">
                                <div class="pr-3">
                                    <div class="avatar avatar-state-warning">
                                        <img src="{{a.profile.image.url}}"
                                             class="rounded-circle"
                                             alt="image">
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                        {% if a.profile.full_name %}
                                            <h6 class="mb-1">{{ a.profile.full_name }}</h6>
                                        {% else %}
                                            <h6 class="mb-1">{{ a.username|title }}</h6>
                                        {% endif %}
              
                                    <div class="small text-muted d-flex align-items-center">
                                        <i class="width-15 height-15 mr-1 text-danger"
                                           data-feather="arrow-down-left"></i>
                                        Today, 03:11 AM
                                    </div>
                                </div>
                            </a>
                                   
                            {% endfor %}
                          
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                         aria-labelledby="pills-contact-tab">
                        <p>142 Contacts</p>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex align-items-center">
                                    <div class="pr-3">
                                        <div class="avatar avatar-state-danger">
                                            <span class="avatar-title bg-success rounded-circle">A</span>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-1">Alene Ranyelld</h6>
                                        <div class="small text-muted">United Kingdom</div>
                                    </div>
                                    <div class="text-right ml-auto">
                                        <a href="#" class="p-1">
                                            <i data-feather="phone-call" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="message-circle" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="video" class="width-18 height-18"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <div class="pr-3">
                                        <div class="avatar avatar-state-success">
                                            <img src="{% static '../../assets/media/image/user/man_avatar1.jpg' %}"
                                                 class="rounded-circle"
                                                 alt="image">
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-1">Chloette Fewster</h6>
                                        <div class="small text-muted">Estonia</div>
                                    </div>
                                    <div class="text-right ml-auto">
                                        <a href="#" class="p-1">
                                            <i data-feather="phone-call" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="message-circle" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="video" class="width-18 height-18"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <div class="pr-3">
                                        <div class="avatar avatar-state-warning">
                                            <img src="{% static '../../assets/media/image/user/women_avatar1.jpg' %}"
                                                 class="rounded-circle"
                                                 alt="image">
                                        </div>
                                    </div>
                                    <div class="flex-grow- 1">
                                        <h6 class="mb-1">Stephanus Shergill</h6>
                                        <div class="small text-muted">Austria</div>
                                    </div>
                                    <div class="text-right ml-auto">
                                        <a href="#" class="p-1">
                                            <i data-feather="phone-call" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="message-circle" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="video" class="width-18 height-18"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <div class="pr-3">
                                        <div class="avatar avatar-state-info">
                                            <img src="{% static '../../assets/media/image/user/women_avatar2.jpg' %}"
                                                 class="rounded-circle"
                                                 alt="image">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Elvyn Frowde</h6>
                                        <div class="small text-muted">Canada</div>
                                    </div>
                                    <div class="text-right ml-auto">
                                        <a href="#" class="p-1">
                                            <i data-feather="phone-call" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="message-circle" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="video" class="width-18 height-18"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <div class="pr-3">
                                        <div class="avatar avatar-state-secondary">
                                            <span class="avatar-title bg-success rounded-circle">A</span>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-1">Alene Ranyelld</h6>
                                        <div class="small text-muted">Canada</div>
                                    </div>
                                    <div class="text-right ml-auto">
                                        <a href="#" class="p-1">
                                            <i data-feather="phone-call" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="message-circle" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="video" class="width-18 height-18"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <div class="pr-3">
                                        <div class="avatar avatar-state-success">
                                            <img src="{% static '../../assets/media/image/user/man_avatar1.jpg' %}"
                                                 class="rounded-circle"
                                                 alt="image">
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="mb-1">Chloette Fewster</h6>
                                        <div class="small text-muted">Spain</div>
                                    </div>
                                    <div class="text-right ml-auto">
                                        <a href="#" class="p-1">
                                            <i data-feather="phone-call" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="message-circle" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="video" class="width-18 height-18"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <div class="pr-3">
                                        <div class="avatar avatar-state-danger">
                                            <img src="{% static '../../assets/media/image/user/women_avatar1.jpg' %}"
                                                 class="rounded-circle"
                                                 alt="image">
                                        </div>
                                    </div>
                                    <div class="flex-grow- 1">
                                        <h6 class="mb-1">Stephanus Shergill</h6>
                                        <div class="small text-muted">Romania</div>
                                    </div>
                                    <div class="text-right ml-auto">
                                        <a href="#" class="p-1">
                                            <i data-feather="phone-call" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="message-circle" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="video" class="width-18 height-18"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex align-items-center">
                                    <div class="pr-3">
                                        <div class="avatar avatar-state-warning">
                                            <img src="{% static '../../assets/media/image/user/women_avatar2.jpg' %}"
                                                 class="rounded-circle"
                                                 alt="image">
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Elvyn Frowde</h6>
                                        <div class="small text-muted">New Zealand</div>
                                    </div>
                                    <div class="text-right ml-auto">
                                        <a href="#" class="p-1">
                                            <i data-feather="phone-call" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="message-circle" class="width-18 height-18"></i>
                                        </a>
                                        <a href="#" class="p-1">
                                            <i data-feather="video" class="width-18 height-18"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end::chat list -->

        </div>
        <!-- end::chat sidebar -->

        <!-- begin::chat content -->
        <div class="col-lg-8 chat-content">
            {% for direct in directs %}
                {% if forloop.first %}
            <!-- begin::chat header -->
            <div class="chat-header border-bottom">
                <div class="d-flex align-items-center">
                    <div class="pr-3">
                        <div class="avatar avatar-state-warning">
                            <img src="{{direct.reciepient.profile.image.url}}" alt="{{direct.reciepient.username}}" class="rounded-circle"
                                 >
                        </div>
                    </div>
                    <div>
                        {% if message.user.profile.full_name %}
                        <p class="mb-0">{{direct.reciepient.profile.full_name|title}}</p>
                        {% else %}
                        <p class="mb-0">{{direct.reciepient.username|title}}</p>
                        <h5></h5>
                        {% endif %}
                        <div class="m-0 small text-success">@{{direct.reciepient.username}}</div>
                    </div>
                </div>
            </div>
            <!-- end::chat header -->
            {% endif %}
        {% endfor %}



            <!-- begin::messages -->
            <div class="messages chatappend">
            {% for direct in directs %}
                {% if request.user != direct.sender %}
                <div class="message-item">
                    <div class="message-item-content">{{direct.body}}</div>
                    <span class="time small text-muted font-italic">{{direct.date|timesince}} ago</span>
                </div>
                {% else %}
                <div class="message-item me">
                    <div class="message-item-content">{{direct.body}}
                    </div>
                    <span class="time small text-muted font-italic">{{direct.date|timesince}} ago</span>
                </div>
                {% endif %}
                {% endfor %}
                <!-- <div class="message-item me message-media">
                    <img src="{% static '../../assets/media/image/photo1.jpg' %}" alt="image">
                    <span class="time small text-muted font-italic">02:30 PM</span>
                </div>
                <div class="message-item message-item-divider">
                    <span>Today</span>
                </div> -->
            </div>
            <!-- end::messages -->

            <!-- begin::chat footer -->
            <div class="chat-footer border-top">
                <form class="d-flex" id="chat-form">
                    {% csrf_token %}
                    <div class="flex-grow-1">
                        <input type="hidden" name="to_user" id="to_user" value="{{active_direct}}">
                        <input class="setemoj form-control" name="body" id="body" type="text" placeholder="Write your message..." />
                    </div>
                    <div class="chat-footer-buttons d-flex">
                        <button class="submit btn btn-primary" type="submit">
                            <i data-feather="send" class="width-15 height-15"></i>
                        </button>
                        <!-- <button class="btn btn-outline-light" type="button" title="Attach files"
                                data-toggle="tooltip">
                            <i data-feather="paperclip" class="width-15 height-15"></i>
                        </button> -->
                    </div>
                </form>
                
               

            </div>
            <!-- end::chat footer -->

        </div>
        <!-- begin::chat content -->

    </div>
        <!-- </div> -->

   


            </div>


        </div>

    </div>
    {% endblock content %}